@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');

body{

    font-family: 'Poppins', sans-serif;
}
.header-section,.first-section{

    background-color: #FFFBF0;
    
}

.first-section h1{
    
    font-size: 60px;
    color:#363958;
    

}


.price{

    color:#FABE4C;
    font-weight: bold;
}

.fstp{

    color:#3E3E3E;
}
.spn-clr{

    color:#FABE4C;
}

.first-section{

    padding-bottom: 50px;
    margin-bottom: 10px;
}

.btn{

    background-color: #A4BC46;
    border: none;
    border-radius: 10px;
    padding:10px 15px
}



