.header-section{

    z-index: 2;
}

.header-section,.first-section{

    background-color: aqua;
}

.first-section h1{
    
    font-size: 80px;
    

}

.first-section{

    padding-bottom: 50px;
    margin-bottom: 10px;
}



